body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 100vh;
    border: 3px solid white;
}

p{
    font-size: 40px;
}

h1 {
    padding-top: 450px;
    font-size: 75px;
    color: goldenrod;
}

#message-el {
    font-style: italic;
    margin-top: 1;
}

button {
    color: #016f32;
    width: 300px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 30px;
    font-size: 30px;
}

.container {
    height: 200px;
    position: relative;
    border: none;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }